# Dependencies
node_modules/

# Compiled output
dist/
out/

# Logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor folders
.vscode/
.idea/
*.swp
*.swo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache